:root {
  --bg-main: #f9fafb;
  --bg-sidebar: #ffffff;
  --bg-card: #ffffff;
  --text-main: #1f2936;
  --border-color: #e2e8f0;
  --hover-bg: #695cfe;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body.dark-theme {
  --bg-main: #111827;
  --bg-sidebar: #1f2937;
  --bg-card: #1f2937;
  --text-main: #f1f5f9;
  --border-color: #374151;
  --hover-bg: #695cfe;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
}
